.typing-text {
    font-size: 120pt;
    font-family: Arial, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(90deg, #00DE4D, #CEf566);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}